{% extends "base.html" %}
{% load static %}
{% load connector_template_filters %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-table.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-editable.css' %}">
    <style>
    th, td{
        border: 2px solid black !important;
    }
    </style>
{% endblock extra_css %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Year</strong>
                <div class="mt-1">
                    <select name="year"
                            id="year"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                    </select>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Month</strong>
                <div class="mt-1">
                    <select name="month"
                            id="month"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                        {{ 1|render_month_options }}
                    </select>
            </div>
            </div>
            <div class="col col-12 col-md-4 col-lg-3">
                <button id="export-excel"
                        class="btn btn-success d-flex align-items-center justify-content-around"
                        style="width: 160px;
                               position: relative;
                               top: 27px">
                    <i class="fa fa-file-export"></i>
                    <span>Export Excel</span>
                </button>
            </div>
            <div class="col col-12 col-md-4 col-lg-3">
                <input type="file"
                       id="excelFileInput"
                       style="display:none"
                       accept=".xlsx,.xls"
                       onchange="handleExcelImport(event)">
                <button id="import-excel"
                        class="btn btn-warning d-flex align-items-center justify-content-around"
                        style="width: 160px;
                               position: relative;
                               top: 27px">
                    <i id="import-excel-icon" class="fa fa-file-import"></i>
                    <div id="import-excel-spinner" class="spinner-border text-dark">
                    </div>                    
                    <span>import Excel</span>
                </button>
            </div>
        </div>

        <br/>
        <hr>

        <div class="row">
            <div class="col col-6 col-md-4 col-lg-2">
                <strong>Payment Method</strong>
                <div class="mt-1">
                    <select name="paymentMethod"
                            id="paymentMethod"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                        <option value="SN">
                            SHEBA number
                        </option>
                        <option value="AN">
                            Account number
                        </option>
                    </select>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-2">
                <strong>Payment Type</strong>
                <div class="mt-1">
                    <select name="paymentType"
                            id="paymentType"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                        <option value="base">
                            Base payment
                        </option>
                        <option value="complementary">
                            Complementary payment
                        </option>
                    </select>
                </div>
            </div>
            <div class="col col-6 col-md-2 col-lg-2">
                <button id="export"
                        class="btn btn-primary d-flex align-items-center justify-content-around"
                        style="width: 120px;
                               position: relative;
                               top: 27px">
                    <i class="fa fa-file-export"></i>
                    <span>Export</span>
                </button>
            </div>
            <div class="col col-6 col-md-2 col-lg-2">
                <button id="export-sepah"
                        class="btn btn-primary d-flex align-items-center justify-content-around"
                        style="width: 160px;
                               position: relative;
                               top: 27px">
                    <i class="fa fa-file-export"></i>
                    <span>Export sepah</span>
                </button>
            </div>
            <div class="col col-6 col-md-2 col-lg-2">
                <button id="export-melli"
                        class="btn btn-primary d-flex align-items-center justify-content-around"
                        style="width: 160px;
                               position: relative;
                               top: 27px">
                    <i class="fa fa-file-export"></i>
                    <span>Export melli</span>
                </button>
            </div>
            <div class="col col-6 col-md-2 col-lg-2">
                <button id="export-melli2"
                        class="btn btn-primary d-flex align-items-center justify-content-around"
                        style="width: 160px;
                               position: relative;
                               top: 27px">
                    <i class="fa fa-file-export"></i>
                    <span>Export melli New</span>
                </button>
            </div>
        </div>

        <br>

        <table id="payment-table"
               data-click-to-select="true"
               data-search="true"
               class="table table-sm table-hover"
               style="table-layout: fixed;
                      text-align: center;
                      min-width: 1600px">
            <thead class="table-success">
                <tr>
                    <th scope="col"
                        data-field="state"
                        data-checkbox="true"
                        data-width-unit="%">
                        #
                    </th>
                    <th scope="col" data-field="userID" class="d-none">
                        ID
                    </th>
                    <th scope="col"
                        data-field="paymentStatus"
                        data-width-unit="%"
                        data-sortable="true"
                        data-width="14"
                        data-formatter="statusFormatter">
                        Payment Status
                    </th>
                    <th scope="col"
                        data-field="user"
                        data-sortable="true"
                        data-width="8"
                        data-width-unit="%">
                        User
                    </th>
                    <th scope="col"
                        data-field="bankName"
                        data-sortable="true"
                        data-width="7"
                        data-width-unit="%">
                        Bank
                    </th>
                    <th scope="col"
                        data-field="wage"
                        data-sortable="true"
                        data-editable="true"
                        data-width="7"
                        data-width-unit="%"
                        data-formatter="moneyFormatter"
                        data-always-use-formatter="true">
                        Wage (R)
                    </th>
                    <th scope="col"
                        data-field="totalPayment"
                        data-sortable="true"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        Total (R)
                    </th>
                    <th scope="col"
                        data-field="basePayment"
                        data-editable="true"
                        data-width="7"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        Base (R)
                    </th>
                    <th scope="col"
                        data-field="reduction1"
                        data-editable="true"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        Reduction1 (R)
                    </th>
                    <th scope="col"
                        data-field="reduction2"
                        data-editable="true"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        Reduction2 (R)
                    </th>
                    <th scope="col"
                        data-field="reduction3"
                        data-editable="true"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        Reduction3 (R)
                    </th>
                    <th scope="col"
                        data-field="food_reduction"
                        data-editable="true"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        food_reduction (R)
                    </th>
                    <th scope="col"
                        data-field="addition1"
                        data-editable="true"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        Addition (R)
                    </th>
                    <th scope="col"
                        data-field="addition2"
                        data-editable="true"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="moneyFormatter">
                        Addition2 (R)
                    </th>
                    <th scope="col"
                        data-field="complementaryPayment"
                        data-width="10"
                        data-width-unit="%"
                        data-formatter="colorMoneyFormatter">
                        Complementary (R)
                    </th>
                    <th scope="col"
                        data-field="finalPayment"
                        data-width="8"
                        data-width-unit="%"
                        data-formatter="colorMoneyFormatter">
                        Final (R)
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Success Modal -->
    <div class="modal fade"
         id="successModal"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Import Data Result
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-success">succesfully updated</p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-success"
                            data-bs-dismiss="modal"
                            id="submit">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Warrning Modal -->
    <div class="modal fade"
         id="warningModal"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Import Data Result
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-warning">partially updated ‼️</p>
                    <p>Users not found:</p>
                    <ul id="missing-users-list"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-success"
                            data-bs-dismiss="modal"
                            id="submit">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <script src="{% static 'sheets/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/tableExport.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-export.min.js' %}"></script>
    <script>

    function moneyFormat(value){
        //console.log(value)
        return value.toLocaleString()
    }

    function colorMoneyFormatter(value){
        const color = value < 0? 'red': 'black';
        return `<span style="color: ${color};">${moneyFormat(value)}</span>`
    }

    function moneyFormatter(value){
        return moneyFormat(value)
    }

    function statusFormatter(value, row) {
        const selectedIndex = parseInt(value); // Convert to integer if value is a string
        return `
            <select class="form-select">
                <option value="0"${selectedIndex === 0? 'selected' : ''}> Not Paid 😡</option>
                <option value="1"${selectedIndex === 1? 'selected' : ''}> Only Base ☹️</option>
                <option value="2"${selectedIndex === 2? 'selected' : ''}> Only Complementary😶‍🌫️</option>
                <option value="3"${selectedIndex === 3? 'selected' : ''}> Base+Complementary🤑</option>
                <option value="4"${selectedIndex === 4? 'selected' : ''}> Refund Needed😭</option>
                <option value="5"${selectedIndex === 5? 'selected' : ''}> Refund Paid💔</option>
            </select>`;
    }

    async function getTableData(year, month){
        const url = `{% url "sheets:api_alter_payment" year='yearHolder' month='monthHolder' %}`
                .replace("yearHolder", year)
                .replace("monthHolder", month);
        try{
            let res = await fetch(url);
            let data = await res.json();
            return data;
        }
        catch(err){
            jSuites.notification({
                error: 1,
                name: 'Error',
                title: "Fetching Data",
                message: err,
                timeout: 6000,
            });
        }
    }

    async function fillTable(year, month){
        $('#payment-table').bootstrapTable('removeAll');
        const data = await getTableData(year, month);
        for(row of data){
            $('#payment-table').bootstrapTable('insertRow', {
                index: $('#payment-table').bootstrapTable('getOptions').totalRows,
                row: row,
            });
        }
    }

    function fillYears(year){
        for(let i=window.START_YEAR; i<=year; i++){
            $("#year").append($("<option>").text(i));
        }
    }

    function handleExcelImport(event) {
        excelImmportLoadingStart()
        var file = event.target.files[0];
        var formData = new FormData();
    
        // Append the file to the form data
        formData.append('file', file);
        
        // Send the file to the backend
        const year = $("#year").val();
        const month = $("#month").val();
        const url = `{% url "sheets:payment_excel_import" year='yearHolder' month='monthHolder'  %}`
            .replace("yearHolder", year)
            .replace("monthHolder", month);
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            body:  formData,
        })
        .then(res => {
            if (res.ok) {
                return res.json()
            } else {
                throw new Error('Network response was not ok');
            }
        })
        .then(json =>{
            if(json.users_not_found.length > 0){
                showImportError(json.users_not_found)
            }
            else{
                showImportSucces()
            }
            fillTable(year, month);
            document.getElementById('excelFileInput').value = '';
        })
        .then(()=> {
            excelImmportLoadingDone();
        })
        .catch(error => console.error('Error:', error));
    }

    function showImportError(missingUsersList){
        $('#warningModal').modal('show')
        $('#missing-users-list').empty(); // Clear existing list

        $.each(missingUsersList, function(index, user) {
            $('#missing-users-list').append(`<li>${user.name} (Id: ${user.user_id})</li>`);
        });
    }

    function showImportSucces(){
        $('#successModal').modal('show')
        $('.modal-body').html("<p>succesfully updated✅</p>");
    }

    function excelImmportLoadingStart(){
        $('#import-excel').prop("disabled", true);
        $('#import-excel-spinner').show();
        $('#import-excel-icon').hide()
    }

    function excelImmportLoadingDone(){
        $('#import-excel').prop("disabled", false);
        $('#import-excel-spinner').hide()
        $('#import-excel-icon').show();
    }

    function updatePaymentTable(year, month, rowData, idx) {
        const url = `{% url "sheets:api_alter_payment" year='yearHolder' month='monthHolder' %}`
           .replace("yearHolder", year)
           .replace("monthHolder", month);
    
        return fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}',
            },
            body: JSON.stringify({row: rowData}),
        })
       .then(res => res.json())
       .then(res => {
            Object.assign(rowData, res);      
            $("#payment-table").bootstrapTable('load', rowData);
            return true
        })
       .catch(err => {
            jSuites.notification({
                error: 1,
                name: 'Error',
                title: "Editing Row",
                message: "Error occurred while changing data.",
            });
            return false
        });
    }

    $("document").ready(async function(){

        const today = new JDate();
        const currentYear = today.getFullYear();
        const currentMonth = today.getMonth();
        fillYears(currentYear); 
        $("#year").val(currentYear);
        $("#month").val(currentMonth);
        $("#current-sheet-date").text(`${currentYear}/${currentMonth}`);
        $('#import-excel-spinner').hide()

        $("#payment-table").bootstrapTable({
            exportTypes: ['json', 'xml', 'csv', 'txt', 'excel'],
        });
        $(".bi.bi-download").addClass(["fa", "fa-download"]); // to show the download icon

        fillTable(currentYear, currentMonth);

        $("#year, #month").change(function(){
            const year = $("#year").val();
            const month = $("#month").val();
            fillTable(year, month);
        });

        $("#payment-table").on('editable-shown.bs.table', function(e, field, row){
            let value = row[field];
            value = String(value).replaceAll(',', '');
            $("div.editable-input input").val(value);
        });

        $("#payment-table").on('editable-save.bs.table', function(e, field, row, idx, oldValue){
            const year = $("#year").val();
            const month = $("#month").val();
            responsStatus = updatePaymentTable(year, month, row, idx)
            if(responsStatus == false)
                $("#payment-table").bootstrapTable('updateCell', {index: idx, field: field, value: oldValue});
        });

        $('#payment-table').on('change', '.form-select', function(){
            const $table = $(this).closest('table');
            let idx = $(this).closest('tr').data('index');
            row = $table.bootstrapTable('getData')[idx];
            row.paymentStatus = $(this).val()

            const year = $("#year").val();
            const month = $("#month").val();
            updatePaymentTable(year, month, row, idx)
        })

        $("#export").click(function(){
            const userIDs = $("#payment-table").bootstrapTable("getSelections").map(row => row.userID);
            const $form = $("<form>", {action: "{% url 'sheets:payment_export' %}", method: "POST"});
            $form.append($("<input type='hidden' name='IDs'>").val(JSON.stringify(userIDs)));
            $form.append($("<input type='hidden' name='month'>").val($("#month").val()));
            $form.append($("<input type='hidden' name='year'>").val($("#year").val()));
            $form.append($("<input type='hidden' name='paymentMethod'>").val($("#paymentMethod").val()));
            $form.append($("<input type='hidden' name='paymentType'>").val($("#paymentType").val()));
            $form.append($("<input type='hidden' name='csrfmiddlewaretoken'>").val("{{csrf_token}}"));
            $("body").append($form);
            $form.submit();
        });

        $("#export-excel").click(function(){
            const year = $("#year").val();
            const month = $("#month").val();
            const $form = $("<form>", 
                {action: `{% url "sheets:payment_excel_export" year='yearHolder' month='monthHolder'  %}`
                    .replace("yearHolder", year)
                    .replace("monthHolder", month),
                method: "POST"});
            $form.append($("<input type='hidden' name='csrfmiddlewaretoken'>").val("{{csrf_token}}"));
            $("body").append($form);
            $form.submit();
        });

        $("#import-excel").click(function(){
            $("#excelFileInput").click();
        });

        
        $("#export-sepah").click(function(){
            const userIDs = $("#payment-table").bootstrapTable("getSelections").map(row => row.userID);
            const $form = $("<form>", {action: "{% url 'sheets:payment_export' %}", method: "POST"});
            $form.append($("<input type='hidden' name='IDs'>").val(JSON.stringify(userIDs)));
            $form.append($("<input type='hidden' name='month'>").val($("#month").val()));
            $form.append($("<input type='hidden' name='year'>").val($("#year").val()));
            $form.append($("<input type='hidden' name='paymentMethod'>").val($("#paymentMethod").val()));
            $form.append($("<input type='hidden' name='paymentType'>").val($("#paymentType").val()));
            $form.append($("<input type='hidden' name='csrfmiddlewaretoken'>").val("{{csrf_token}}"));
            $form.append($("<input type='hidden' name='exportType'>").val("sepah"));
            $("body").append($form);
            $form.submit();
        });
        
        $("#export-melli").click(function(){
            const userIDs = $("#payment-table").bootstrapTable("getSelections").map(row => row.userID);
            const $form = $("<form>", {action: "{% url 'sheets:payment_export' %}", method: "POST"});
            $form.append($("<input type='hidden' name='IDs'>").val(JSON.stringify(userIDs)));
            $form.append($("<input type='hidden' name='month'>").val($("#month").val()));
            $form.append($("<input type='hidden' name='year'>").val($("#year").val()));
            $form.append($("<input type='hidden' name='paymentMethod'>").val($("#paymentMethod").val()));
            $form.append($("<input type='hidden' name='paymentType'>").val($("#paymentType").val()));
            $form.append($("<input type='hidden' name='csrfmiddlewaretoken'>").val("{{csrf_token}}"));
            $form.append($("<input type='hidden' name='exportType'>").val("melli"));
            $("body").append($form);
            $form.submit();
        });
        
        $("#export-melli2").click(function(){
            const userIDs = $("#payment-table").bootstrapTable("getSelections").map(row => row.userID);
            const $form = $("<form>", {action: "{% url 'sheets:payment_export' %}", method: "POST"});
            $form.append($("<input type='hidden' name='IDs'>").val(JSON.stringify(userIDs)));
            $form.append($("<input type='hidden' name='month'>").val($("#month").val()));
            $form.append($("<input type='hidden' name='year'>").val($("#year").val()));
            $form.append($("<input type='hidden' name='paymentMethod'>").val($("#paymentMethod").val()));
            $form.append($("<input type='hidden' name='paymentType'>").val($("#paymentType").val()));
            $form.append($("<input type='hidden' name='csrfmiddlewaretoken'>").val("{{csrf_token}}"));
            $form.append($("<input type='hidden' name='exportType'>").val("melli2"));
            $("body").append($form);
            $form.submit();
        });
    });
    </script>
{% endblock body %}
