<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>

        <meta charset="UTF-8">

        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=no">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ request.resolver_match.url_name }}</title>

        <link rel="icon" href="{% static 'sheets/picture/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'sheets/css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static 'sheets/css/loginpage.css' %}">

        <style>
		@font-face {
			font-family: 'lato';
			src: local('Lato'),
				url('{% static "sheets/fonts/Lato-Italic.ttf" %}');
		}
		body{
			font-family: 'Lato', sans-serif;
		}
		.esfa-icon{
			width: 75px;
			margin: 22px 5px;
		}
		.msg{
			margin-left: 25px;
			margin-right: 25px;
			padding: 5px;
			border-radius: 8px;
		}
		.error-msg{
			background-color: rgba(255, 0, 0, 0.1);
			color: red;
			border: 1px solid red;
		}
		.success-msg{
			background-color: rgba(0, 255, 0, 0.1);
			color: green;
			border: 1px solid green;
		}
	
        </style>
    </head>


    <body>

        <div class="wrapper fadeInDown">
            <div id="formContent">

                <!-- Header -->
                <div class="fadeIn first my-2">
                    <strong style="color: black; font-size: 2em;">E<span style="color: red;">S</span>FA Hours</strong>
                </div>

                <form action="{% url 'sheets:change_password' %}"
                      method="post"
                      autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="change_password" value="true">
                    <input type="text"
                           id="username"
                           class="fadeIn fourth"
                           name="username"
                           placeholder="Username *"
                           autocomplete="off"
                           required>
                    <input type="password"
                           id="oldPassword"
                           class="fadeIn fifth"
                           name="oldPassword"
                           placeholder="Old Password *"
                           autocomplete="off"
                           required>
                    <input type="password"
                           id="newPassword"
                           class="fadeIn sixth"
                           name="newPassword"
                           placeholder="New Password *"
                           autocomplete="off"
                           required>
                    <input type="password"
                           id="passwordConfirm"
                           class="fadeIn sixth"
                           name="passwordConfirm"
                           placeholder="Confirm New Password *"
                           autocomplete="off"
                           required>
                    <hr class="fadeIn eighth">
                    <div class="fadeIn eighth">
                        <button class="btn btn-primary" id="change">
                            Change Password
                        </button>
                    </div>
                    <br>
                </form>

                {% if not_authenticated %}
                    <p class="fadeIn eighth msg error-msg" style="color: red;">
                        Wrong username or password.
                    </p>
                {% endif %}

                {% if wrong_confirm %}
                    <p class="fadeIn eighth msg error-msg" style="color: red;">
                        Password confirm is not correct.
                    </p>
                {% endif %}

                {% if password_changed %}
                    <p class="fadeIn eighth msg success-msg" style="color: green;">
                        <span>Password changed successfully.</span>
                        <br>
                        <span>Continue to &nbsp;<a href="{% url 'sheets:login' %}"> Login Page</a></span>
                    </p>
                {% endif %}

            </div>
        </div>

    </body>

</html>
