{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-table.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-editable.css' %}">
    <style>
    </style>
{% endblock extra_css %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Year</strong>
                <div class="mt-1">
                    <select name="year"
                            id="year"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                    </select>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Month</strong>
                <div class="mt-1">
                    <select name="month"
                            id="month"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                        <option value="1">
                            Farvardin
                        </option>
                        <option value="2">
                            Ordibehest
                        </option>
                        <option value="3">
                            Khordad
                        </option>
                        <option value="4">
                            Tir
                        </option>
                        <option value="5">
                            Mordad
                        </option>
                        <option value="6">
                            Shahrivar
                        </option>
                        <option value="7">
                            Mehr
                        </option>
                        <option value="8">
                            Aban
                        </option>
                        <option value="9">
                            Azar
                        </option>
                        <option value="10">
                            Dey
                        </option>
                        <option value="11">
                            Bahman
                        </option>
                        <option value="12">
                            Esfand
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <br>


    </div>

    <script src="{% static 'sheets/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/tableExport.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-export.min.js' %}"></script>
    <script>

        function fillYears(year){
            for(let i=window.START_YEAR; i<=year; i++){
                $("#year").append($("<option>").text(i));
            }
        }

        $("document").ready(async function(){

            const today = new JDate();
            const currentYear = today.getFullYear();
            const currentMonth = today.getMonth();
            fillYears(currentYear); 
            $("#year").val(currentYear);
            $("#month").val(currentMonth);
            $("#current-sheet-date").text(`${currentYear}/${currentMonth}`);

            $("#year, #month").change(function(){
            });
        });
    </script>
{% endblock body %}
