{% extends "base.html" %}
{% load static %}
{% load connector_template_filters %}


{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-table.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-editable.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/templatesScripts/food_form.css' %}">
{% endblock extra_css %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Year</strong>
                <div class="mt-1">
                    <select name="year"
                            id="year"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                    </select>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Month</strong>
                <div class="mt-1">
                    <select name="month"
                            id="month"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                        {{ None|render_month_options }}
                    </select>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Week</strong>
                <div class="mt-1">
                    <select name="week"
                            id="week"
                            style="min-width: 220px;
                                   border-radius: 5px;
                                   height: 35px">
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <br>

        <p class="text-danger"> <strong> Note: Prices may change throughout the week.</strong></p>

        <table id="foodTable" data-toggle="table">
        </table>

        <br>
        {% comment %} <div class="container d-flex justify-content-start align-items-center">
            <div class="text-center">
                <button id="submitFoodBtn"
                        type="button"
                        class="btn btn-primary  d-flex justify-content-around align-items-center">
                    <div id="submit-food-spinner" class="spinner-border text-light me-2 d-none">
                    </div>
                    <span>submit</span>
                    <div id="submit-food-check" class="text-success ms-2 d-none">
                        ✅
                    </div>
                </button>
            </div>
        </div> {% endcomment %}
        
        <button id="submitFoodBtn" class="btn btn-primary d-flex justify-content-center align-items-center position-relative" type="button">
            <span id="submit-food-spinner" class="spinner-border spinner-border-sm d-none me-1" role="status"></span>
            <span>submit</span>
            <div id="submit-food-check" class="bg-primary d-none" desabled>
                ✅
            </div>
        </button>        
    </div>

    <script src="{% static 'sheets/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/tableExport.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'sheets/js/templatesScripts/food_form.js' %}"></script>
{% endblock body %}
