{% extends "base.html" %}
{% load static %}
{% load connector_template_filters %}


{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-table.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-editable.css' %}">
    <link rel="stylesheet" 
          href="{% static 'sheets/css/jspreadsheet.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/jspreadsheet.datatables.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/jspreadsheet.theme.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-table.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/bootstrap-editable.css' %}">
    <link rel="stylesheet"
          href="{% static 'sheets/css/templatesScripts/food_data.css' %}">
{% endblock extra_css %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col col-6 col-md-4 col-lg-2">
                <strong>Year</strong>
                <div class="mt-1">
                    <select name="year"
                            id="year"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                    </select>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-2">
                <strong>Month</strong>
                <div class="mt-1">
                    <select name="month"
                            id="month"
                            style="min-width: 180px;
                                   border-radius: 5px;
                                   height: 35px">
                        {{ 1|render_month_options }}
                    </select>
                </div>
            </div>

            <div class="col col-6 col-md-4 col-lg-4">
                <strong>Order limitation mode</strong>
                <br/>
                <div class="btn-group" role="group" style="position: relative; top: 3px" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="desableDaysRadioBtn" valueNumber=0 autocomplete="off">
                    <label class="btn btn-outline-primary" for="desableDaysRadioBtn">Disable past days</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="freeModeRadioBtn" valueNumber=1 autocomplete="off">
                    <label class="btn btn-outline-primary" for="freeModeRadioBtn">Free mode</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="desableWeekRadioBtn" valueNumber=2 autocomplete="off">
                    <label class="btn btn-outline-primary" for="desableWeekRadioBtn">Disable entire week</label>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-1">
                <button id="editFoodsBtn"
                        class="btn btn-primary d-flex align-items-center justify-content-around"
                        onclick="editFoodsBtnClick()"
                        style="width: 120px;
                               position: relative;
                               top: 27px">
                    <i class="fa fa-file-export"></i>
                    <span>Edit Foods</span>
                </button>
            </div>
            <div class="col col-6 col-md-4 col-lg-2">
                <button id="FoodsOrderBtn"
                        class="btn btn-primary d-flex align-items-center justify-content-around"
                        onclick="FoodsOrderBtnClick()"
                        style="width: 180px;
                               position: relative;
                               top: 27px">
                    <i class="fa fa-file-export"></i>
                    <span>Foods Order Report</span>
                </button>
            </div>
        </div>
        <br>
        <hr>

        <div class="row">
            <div class="col col-12"
                style="overflow-x: auto;
                        border-left: 1px solid;
                        padding-left: 10px">
                <button id="toggleButton" class="btn btn-primary">Toggle View</button>      
                <div id="spreadsheet" style="display: none;">
                </div>
                <table id="payment-table"
                    data-toggle="table"
                    data-click-to-select="true"
                    data-search="true"
                    class="table table-sm table-hover"
                    style="table-layout: fixed;
                           text-align: center;
                           min-width: 100px">
                    <thead class="table-success">
                        <tr>
                            <th scope="col"
                                data-field="day"
                                data-sortable="true"
                                data-width="4"
                                data-width-unit="%">
                                Day
                            </th>
                            <th scope="col"
                                data-field="num_users_Ordered"
                                data-width="10"
                                data-width-unit="%">
                                Number of users ordered
                            </th>
                            <th scope="col"
                                data-field="delivery_cost"
                                data-editable="true"
                                data-width="7"
                                data-width-unit="%"
                                data-formatter="moneyFormatter"
                                data-always-use-formatter="true"
                                data-always-use-formatter="true">
                                Delivery Cost
                            </th>
                            <th scope="col"
                                data-field="calculated_amount"
                                data-width="9"
                                data-width-unit="%"
                                data-formatter="moneyFormatter">
                                Calculated Amount
                            </th>
                            <th scope="col"
                                data-field="amount_paid"
                                data-editable="true"
                                data-width="8"
                                data-width-unit="%"
                                data-formatter="moneyFormatter"
                                data-always-use-formatter="true">
                                Amount Paid
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>


        
        <div class="modal fade"
             id="foodNamesModal"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Edit Food List
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <form id="foodPriceForm">
                            <div id="dynamicInputFields">                               
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="addEmptyFoodRow()">+ add new row</button>
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal"
                                onclick="updateFoodClick()"
                                id="update_food">
                            update
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade"
             id="foodsOrderModal"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Order List Data
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-md-6 col-xxl-2">
                                <strong>Year</strong>
                                <div class="mt-1">
                                    <select name="modal_year"
                                            id="modal_year"
                                            style="min-width: 120px;
                                                   border-radius: 5px;
                                                   height: 35px">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-2">
                                <strong>Month</strong>
                                <div class="mt-1">
                                    <select name="modal_month"
                                            id="modal_month"
                                            style="min-width: 120px;
                                                   border-radius: 5px;
                                                   height: 35px">
                                        {{ None|render_month_options }}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-5">
                                <strong>Week</strong>
                                <div class="mt-1">
                                    <select name="modal_week"
                                            id="modal_week"
                                            style="min-width: 220px;
                                                   border-radius: 5px;
                                                   height: 35px">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <button id="export-excel"
                                        class="btn btn-success d-flex align-items-center justify-content-around"
                                        onclick="export_excel_click()"
                                        style="width: 180px;
                                               position: relative;
                                               top: 27px">
                                    <i class="fa fa-file-export"></i>
                                    <span>Get Weekly Report</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 col-xxl-5">
                                <strong>Day</strong>
                                <div class="mt-1">
                                    <select name="modal_day"
                                            id="modal_day"
                                            style="min-width: 220px;
                                                   border-radius: 5px;
                                                   height: 35px">
                                        {% comment %} {{ 1|render_day_options }} {% endcomment %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <table id="orderList" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Quantity Ordered</th>
                                    <th scope="col">Who ordered</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal">
                            ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'sheets/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/tableExport.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-editable.min.js' %}"></script>
    <script src="{% static 'sheets/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'sheets/js/plotly-basic.min.js' %}"></script>
    <script src="{% static 'sheets/js/jspreadsheet.min.js' %}"></script>
    <script src="{% static 'sheets/js/templatesScripts/food_data.js' %}"></script>
{% endblock body %}
