{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="container">
    <h3 class="d-flex justify-content-center my-4">
        <strong>Your monthly stats in this year</strong>
    </h3>
    <div class="row p-3" style="overflow-x: auto;">
        <div id="monthly-chart" style="min-width: 800px;"></div>
    </div>
</div>

<script src="{% static 'sheets/js/plotly-basic.min.js' %}"></script>
<script>
    async function getPublicInfo(){
        const url = '{% url "sheets:api_info"%}';
        try{
            let res = await fetch(url);
            return await res.json();
        }
        catch (err){
            jSuites.notification({
                error: 1,
                name: 'Error',
                title: "Fetching Info",
                message: err,
                timeout: 6000,
            });
        }
    }

    function drawMonthlyChart(selector, monthlyHours){
        const months = [
            "Farvardin", "Ordibehest",  "Khordad",  "Tir",  "Mordad",  "Shahrivar",
            "Mehr",  "Aban",  "Azar",  "Dey",  "Bahman",  "Esfand",
        ]
        const data = [{
            x: monthlyHours.map(x => months[x.month - 1]),
            y: monthlyHours.map(x => Math.floor(x.total / 60)),
            text: monthlyHours.map(x => Math.floor(x.total / 60)),
            type: "bar",
            marker: {
                color: 'rgb(158, 202, 225)',
                opacity: 0.7,
                line: {
                    color: 'rgb(8, 48, 107)',
                    width: 1.5
                }
            }
        }];

        layout = {
            xaxis: {
                tickangle: -45
            },
            barmode: 'group',
            margin: {t: 0},
        };

        const config = {responsive: true};
        Plotly.newPlot(selector, data, layout, config);
    }


    async function showInfo(){
        const info = await getPublicInfo();
        console.log('info is:', info)
        drawMonthlyChart('monthly-chart', info.user_monthly_hours);
       }

    showInfo()
</script>
{% endblock body %}