{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <style>
        #monthly-table tr td:last-of-type{
            font-weight: bold;
            background-color: rgba(100, 200, 100, 0.3);
        }
        #monthly-table tbody tr:first-of-type td, #monthly-table tbody tr:first-of-type th{
            font-weight: bold;
            background-color: rgba(100, 200, 100, 0.3);
        }
    </style>
{% endblock extra_css %}

{% block body %}

<div class="container-fluid">
    <form id="detailed-report-form" action="{% url 'sheets:detailed_report' %}">
        <div class="row">
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Year</strong>
                <div class="mt-1">
                    <select name="year" id="year" style="min-width: 150px; border-radius: 5px; height: 35px;"></select>
                </div>
            </div>
            <div class="col col-6 col-md-4 col-lg-3">
                <strong>Month</strong>
                <div class="mt-1">
                    <select name="month" id="month" style="min-width: 150px; border-radius: 5px; height: 35px;">
                        <option value="1">Farvardin</option>
                        <option value="2">Ordibehest</option>
                        <option value="3">Khordad</option>
                        <option value="4">Tir</option>
                        <option value="5">Mordad</option>
                        <option value="6">Shahrivar</option>
                        <option value="7">Mehr</option>
                        <option value="8">Aban</option>
                        <option value="9">Azar</option>
                        <option value="10">Dey</option>
                        <option value="11">Bahman</option>
                        <option value="12">Esfand</option>
                    </select>
                </div>
            </div>
            <div class="col col-12 col-md-4 col-lg-3 pt-4">
                <span id="get-detailed-report" style="cursor: pointer;">
                    <img src="{% static 'sheets/picture/excel_icon.png' %}" alt="" style="width: 30px;">
                    <span class="text-decoration-underline fw-bold" >Detailed Excel Report</a>
                </span>
            </div>
        </div>
    </form>

    <hr class="mb-0">

    <div class="row mx-0 my-1" style="min-height: 60px; line-height: 60px; background-color: rgba(75, 152, 200, 0.25); border-radius: 5px;">
        <div class="col col-12 col-md-4">
            <span class="fw-bold">No. of total users: <span id="usersNum"></span></span>
        </div>
        <div class="col col-12 col-md-4">
            <span class="fw-bold position-relative">
                No. of active users (in selected month): 
                <span id="sheetsNum"></span>
                <span class="text-danger position-absolute fs-3" style="right: -37px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#sheetlessModal">ⓘ</span>
            </span>
        </div>
        <div class="col col-12 col-md-4">
            <span class="fw-bold">No. of submitted sheets: <span id="submittedSheetsNum"></span></span>
        </div>
    </div>

    <hr class="mt-0">

    <div class="table-responsive">
        <table id="monthly-table" class="table table-striped table-hover">
            <thead class="table-dark"></thead>
            <tbody class="table-group-divider"></tbody>
        </table>
    </div>
</div>

<!-- Sheetless Users Modal -->
<div class="modal fade" id="sheetlessModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sheetless Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Users without sheet in selected month:</h5>
                <ol id="sheetless-users"></ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    async function getMonthlyData(year, month){
        const url = `{% url "sheets:api_monthly_report" year='yearHolder' month='monthHolder' %}`
            .replace("yearHolder", year)
            .replace("monthHolder", month);
        try{
            let res = await fetch(url);
            return await res.json();
        }
        catch (err){
            jSuites.notification({
                error: 1,
                name: 'Error',
                title: "Fetching Report Info",
                message: err,
                timeout: 6000,
            });
        }
    }

    function formatHour(num){
        return `${Math.floor(num / 60)}:${Math.round(num % 60)}`
    }

    async function showReport(year, month){
        const data = await getMonthlyData(year, month);
        
        $("#usersNum").text(data.usersNum);
        $("#sheetsNum").text(data.sheetsNum);
        $("#submittedSheetsNum").text(data.submittedSheetsNum);
        $("#sheetless-users li").remove();
        data.sheetlessUsers.forEach(name => $("#sheetless-users").append($("<li>").text(name)));

        $("#monthly-table tbody tr").remove();
        $("#monthly-table thead tr").remove();
        const ths = Object.keys(Object.values(data.hours)[0]);
        const table = $("#monthly-table");
        let tr = $("<tr>");
        ["Name", ...ths].forEach((val, idx) => {
            tr.append($("<th>").text(val));
        });
        table.find("thead").append(tr);
        for(let [name, val] of Object.entries(data.hours)){
            tr = $("<tr>");
            $(tr).append($("<th>").text(`${name}${data.submittedUsers.includes(name)? ' ☑️': ''}`));
            ths.forEach((prj, idx) => {
                $(tr).append($("<td>").text(formatHour(data.hours[name][prj])));
            });
            if(name.toLocaleLowerCase() === 'total')
                table.find("tbody").prepend(tr);
            else
                table.find("tbody").append(tr);
        }
    }

    function fillYears(year){
        for(let i=window.START_YEAR; i<=year; i++){
            $("#year").append($("<option>").text(i));
        }
    }

    $("document").ready(async function() {

        const today = new JDate();
        const currentYear = today.getFullYear();
        const currentMonth = today.getMonth();
        fillYears(currentYear); 
        $("#year").val(currentYear);
        $("#month").val(currentMonth);

        showReport(currentYear, currentMonth);

        $("#year, #month").change(function(){
            const year = $("#year").val();
            const month = $("#month").val();
            showReport(year, month);
        });

        $("#get-detailed-report").click(function(){
            $("#detailed-report-form").submit();
        });

    });


</script>
{% endblock body %}