:root {
    --jexcel_header_color: #000;
    --jexcel_header_color_highlighted: #000;
    --jexcel_header_background: #f3f3f3;
    --jexcel_header_background_highlighted: #dcdcdc;
    --jexcel_content_color: #000;
    --jexcel_content_color_highlighted: #000;
    --jexcel_content_background: #fff;
    --jexcel_content_background_highlighted: rgba(0, 0, 0, 0.05);
    --jexcel_menu_background: #fff;
    --jexcel_menu_background_highlighted: #ebebeb;
    --jexcel_menu_color: #555;
    --jexcel_menu_color_highlighted: #555;
    --jexcel_menu_box_shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    --jexcel_border_color: #ccc;
    --jexcel_border_color_highlighted: #000;
    --jexcel_cursor: #eee;
    --active_color: #007aff;
}

.form-control {
    min-height: 120px !important;
}

.user-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-item:hover {
    background-color: #f0f8ff;
}

.user-item.active {
    background-color: #007bff;
    color: white;
}

.missed-report {
    background: #ff4040;
}

.submitted-report {
    background: #7fe656;
}